
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}


.main-layout {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}



.buttons-panel {
  display: table-row;
  border: 2px solid #924B98;
  border-radius: 6px;
  height: 24px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.head-button {
  display: inline-block;
  font: 14px arial;
  text-align: center;
  line-height: 40px;
  width: 200px;
  background-color: transparent;
  color: #924B98;
  border-radius: 6px;
  margin: 5px;
}


.head-button.active {
  background-color: #924B98;
  color: white;
}

iframe.layout {
  display: none;
  background-color: white;
  border: 0px;
  width: 100%;
  height: 100%;
  -overflow: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  border-top: 1px solid lightgray;
}

iframe.layout.active {
  display: table-row;
}

.media-toolbar {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

.media-toolbar:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.media-button {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  border: 2px solid #924B98;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.media-button.link {
  border: none;
}

.media-button-title {
  width: 200px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0px;
  background-color: #924B98;
  color: white;
}

.media-button-title.link {
  background-color: #FFA200;
}

.media-button-title > span {
  font-size: 16px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.media-button-icon {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.media-overlay {
  position: fixed;
  height: 0px;
  width: 100%;
  left: 0px;
  top: 100%;
  visibility: hidden;
  background: white;
  z-index: 20;
}

.media-overlay.active {
  top: 0;
  height: 100%;
  visibility: visible;
}

.media-overlay-toolbar {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: #924B98;
  text-align: justify;
}

.media-overlay-content {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50px;
  bottom: 0px;
  background-color: white;
  padding: 5px;
  overflow-x: auto;
}

.media-overlay-toolbar-media {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.media-overlay-toolbar-media > audio {
  margin: auto;
  position: absolute;
  width: 25%;
  top: 0;
  left: 10px;
  bottom: 0;
}

.media-overlay-toolbar-title {
  color: white;
  position: absolute;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 50%;
  line-height: 50px;
  text-align: center;
}

.media-overlay-toolbar-close {
  cursor: pointer;
  color: white;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 100%;
  margin-right: 2%;
  line-height: 50px;
  text-align: right;
  right: 0px;
}

div.outline {
  position: absolute;
  width: 25%;
  left: 0px;
  top: 0px;
  height: 100%;
  list-style-type: none;
  border-right: 1px solid lightgray;
  overflow: auto;
}

div.outline > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.outline > ul > li {
  background-color: white;
  line-height: 50px;
  border-bottom: 1px solid lightgray;
  text-overflow: ellipsis;
}

div.outline > ul > li.active {
  background-color: lightgray;
}

div.outline > ul > li.disabled {
  pointer-events: none;
  cursor: default;
  color: gray;
}


div.outline > ul > li.active > div.outline-menu-icon {
  height: 150px;
}

div.outline-menu-title {
  padding: 5px;
  cursor: pointer;
}

div.outline-menu-title.root{
  font-weight: bold;
}


div.content-data {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

iframe.content-data {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 25%;
  height: 100%;
  width: 74%;
  border: 0px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 1%;
}

div.outline-menu-icon {
  height: 0px;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

img.outline-menu-icon {
  height: 100%;
  width: auto;
}

p.outline-menu-icon {
  text-align: center;
}

div.controls-menu-container {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

div.controls-menu {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0px;
  right: -200px;
  background-color: transparent;
  z-index: 10;
  overflow-y: auto;
}

div.controls-menu.active {
  right: 0px;
}

div.controls-menu-item {
  position: relative;
  left: 50px;
  width: 180px;
  color: white;
  background-color: #262626;
  word-wrap: break-word;
  padding: 10px;
}

div.controls-menu-item > a, div.controls-menu-item > a:hover, div.controls-menu-item > a:visited, div.controls-menu-item > a:active {
  color: white;
  text-decoration: none;
}

div.controls-menu-picker {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  left: 0px;
  background-color: #924B98;
  color: white;
  text-align: center;
  cursor: pointer;
}

div.controls-menu.active > div.controls-menu-picker:after {
  content: ">";
}

div.controls-menu-picker:after {
  content: "<";
}

div.gallery {
  position: absolute;;
  background-color: rgba(0,0,0,0.8);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

div.gallery.active {
  display: block;
}

div.gallery-header {
  position: relative;
  background-color: #924B98;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.gallery-header-close {
  cursor: pointer;
  color: white;
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 100%;
  margin-right: 2%;
  line-height: 50px;
  text-align: right;
  right: 0px;
}
