<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title.value}}</title>
  <link rel="stylesheet" href="../../css/style.css">
  <script src="../../audiojs/audio.min.js"></script>
  <style>
    .audiojsZ audio {
      position: absolute;
      left: -1px;
    }

    .audiojsZ {
      position: absolute;
      top: 7px;
      left: 7px;
      width: 270px;
      height: 36px;
      background: #924B98;
      overflow: hidden;
      font-size: 12px;
    }

    .audiojsZ .play-pauseZ {
      width: 25px;
      height: 40px;
      padding: 4px 6px;
      margin: 0px;
      float: left;
      overflow: hidden;
      border-right: 1px solid white;
    }

    .audiojsZ p {
      display: none;
      width: 25px;
      height: 40px;
      margin: 0px;
      cursor: pointer;
    }

    .audiojsZ .playZ {
      display: block;
    }

    .audiojsZ .scrubberZ {
      position: relative;
      float: left;
      width: 100px;
      background: #fcc;
      height: 14px;
      margin: 10px;
      border-left: 0px;
      border-bottom: 0px;
      overflow: hidden;
    }

    .audiojsZ .progressZ {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 14px;
      width: 0px;
      background: white;
      z-index: 1;
    }

    .audiojsZ .loadedZ {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 14px;
      width: 0px;
      background: transparent;
    }

    .audiojsZ .timeZ {
      float: left;
      height: 36px;
      line-height: 36px;
      margin: 0px 0px 0px 6px;
      padding: 0px 6px 0px 12px;
      border-left: 1px solid white;
      color: white;
    }

    .audiojsZ .timeZ em {
      padding: 0px 2px 0px 0px;
      color: white;
      font-style: normal;
    }

    .audiojsZ .timeZ strong {
      padding: 0px 0px 0px 2px;
      font-weight: normal;
    }

    .audiojsZ .error-messageZ {
      float: left;
      display: none;
      margin: 0px 10px;
      height: 36px;
      width: 400px;
      overflow: hidden;
      line-height: 36px;
      white-space: nowrap;
      color: #fff;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -icab-text-overflow: ellipsis;
      -khtml-text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
    }

    .audiojsZ .error-messageZ a {
      color: #eee;
      text-decoration: none;
      padding-bottom: 1px;
      border-bottom: 1px solid #999;
      white-space: wrap;
    }

    .audiojsZ .playZ {
      background: url('../../audiojs/player-graphics.gif') -2px -1px no-repeat;
    }

    .audiojsZ .loadingZ {
      background: url('../../audiojs/player-graphics.gif') -2px -31px no-repeat;
    }

    .audiojsZ .errorZ {
      background: url('../../audiojs/player-graphics.gif') -2px -61px no-repeat;
    }

    .audiojsZ .pauseZ {
      background: url('../../audiojs/player-graphics.gif') -2px -91px no-repeat;
    }

    .playingZ .playZ, .playingZ .loadingZ, .playingZ .errorZ {
      display: none;
    }

    .playingZ .pauseZ {
      display: block;
    }

    .loadingZ .playZ, .loadingZ .pauseZ, .loadingZ .errorZ {
      display: none;
    }

    .loadingZ .loadingZ {
      display: block;
    }

    .errorZ .timeZ, .errorZ .playZ, .errorZ .pauseZ, .errorZ .scrubberZ, .errorZ .loadingZ {
      display: none;
    }

    .errorZ .errorZ {
      display: block;
    }

    .errorZ .play-pauseZ p {
      cursor: auto;
    }

    .errorZ .error-messageZ {
      display: block;
    }

    #main-data.active {
      display: block;
    }

    #main-data {
      display: none;
    }
  </style>
</head>
<body style="height: auto">

{{#if hasAdditionals}}
<div class="controls-menu-container">
  <div id="controls-menu" class="controls-menu">
    <div class="controls-menu-picker" onclick="toggleControlsMenu()"></div>
    {{#if control}}
    <div class="controls-menu-item"><a href="control.html">Контроль</a></div>
    {{/if}}
    {{#if trainer}}
    <div class="controls-menu-item"><a href="trainer.html">Тренажер</a></div>
    {{/if}}
    {{#if additionals}}
    {{#each additionals}}
    <div class="controls-menu-item"><a href="#" onclick="goToPagePdf({{this.page}})">{{this.title}}</a></div>
    {{/each}}
    {{/if}}
  </div>
</div>
{{/if}}

<div id="main-data" class="active">
  <h1>{{title.value}}</h1>
  <div>
    {{{text}}}
  </div>
  <br>
  <div class="-toolbar">
    {{#if media}}
    {{#each media}}
    <div class="media-button" onclick="showMedia('content-{{{this.media-type}}}{{@index}}')">
      <img class="media-button-icon" src="{{this.icon.url}}">
      <div class="media-button-title"><span>{{this.name}}</span></div>
    </div>
    {{/each}}
    {{/if}}

    {{#if children}}
    {{#each children}}
    {{#ifCond this.type '==' 'content'}}
    {{#ifCond this.scope.paper '==' true}}
    {{#ifCond this.tiled '==' true}}
    <div class="media-button link" onclick="goToPagePdf({{this.page.pdf}})">
      <img class="media-button-icon" src="{{this.images.0.url}}">
      <div class="media-button-title link"><span>{{this.title.value}}</span></div>
    </div>
    {{/ifCond}}
    {{/ifCond}}
    {{/ifCond}}
    {{/each}}
    {{/if}}
  </div>
</div>

<div id="media-container">
  {{#if media}}
  {{#each media}}
  <div id="content-{{{this.media-type}}}{{@index}}" class="media-overlay">
    <div class="media-overlay-toolbar">
    <span class="media-overlay-toolbar-media">
      {{#if this.file}}


      <div class="audiojsZ">
      <audio src="{{this.file.url}}" type="audio/mp3" preload="none"></audio>
      <div class="play-pauseZ">
        <p class="playZ"></p>
        <p class="pauseZ"></p>
        <p class="loadingZ"></p>
        <p class="errorZ"></p>
      </div>
      <div class="scrubberZ">
        <div class="progressZ"></div>
        <div class="loadedZ"></div>
      </div>
      <div class="timeZ">
        <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
      </div>
      <div class="error-messageZ"></div>
    </div>
      {{/if}}
    </span>
      <span class="media-overlay-toolbar-title">{{this.name}}</span>
      <span class="media-overlay-toolbar-close" onclick="closeMedia()">Закрыть</span>
    </div>
    <div class="media-overlay-content">
      {{{this.text}}}
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>
<script>
  var players = [];
  audiojs.events.ready(function () {
    var audios = document.getElementsByTagName('audio');

    if (!audios)
      return;

    for (var i = 0; i < audios.length; i++) {
      var player = audiojs.create(audios[i], {
        css: false,
        createPlayer: {
          markup: false,
          playPauseClass: 'play-pauseZ',
          scrubberClass: 'scrubberZ',
          progressClass: 'progressZ',
          loaderClass: 'loadedZ',
          timeClass: 'timeZ',
          durationClass: 'durationZ',
          playedClass: 'playedZ',
          errorMessageClass: 'error-messageZ',
          playingClass: 'playingZ',
          loadingClass: 'loadingZ',
          errorClass: 'errorZ'
        }
      });
      players.push(player);
    }

  });
</script>
<script>
  var mainData = document.getElementById('main-data');
  var container = document.getElementById('media-container');
  var controlMenu = document.getElementById('controls-menu');

  function showMedia(id) {
    closeMedia();
    mainData.classList.remove('active');
    var children = container.childNodes;
    for (i in children) {
      var node = container.childNodes[i];
      if (node.id === id) {
        node.classList.add('active');
        /*var audios = node.getElementsByTagName('audio');
        if (audios) {
          for (var i = 0; i < audios.length; i++) {
            var audio = audios[i];
            players.forEach(function (player) {
              if (player.element === audio)
                player.play();
            });
          }
        }*/
      }
    }
  }

  function closeMedia() {
    var children = container.childNodes;
    for (i in children) {
      var node = container.childNodes[i];
      if (node.classList)
        node.classList.remove('active');
    }
    players.forEach(function (player) {
      player.pause();
      player.skipTo(0);
    });
    mainData.classList.add('active');
  }

  function toggleControlsMenu() {
    controlMenu.classList.toggle('active');
  }

  function goToPagePdf(page) {
    if (window.parent) {
        window.parent.goToPagePdf(page);
    }
  }
</script>
</body>
</html>
