<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title.value}}</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jssor.slider-21.1.6.min.js" type="text/javascript"></script>

  <style>
    /* jssor slider arrow navigator skin 05 css */
    /*
    .jssora05l                  (normal)
    .jssora05r                  (normal)
    .jssora05l:hover            (normal mouseover)
    .jssora05r:hover            (normal mouseover)
    .jssora05l.jssora05ldn      (mousedown)
    .jssora05r.jssora05rdn      (mousedown)
    .jssora05l.jssora05lds      (disabled)
    .jssora05r.jssora05rds      (disabled)
    */
    .jssora05l, .jssora05r {
      display: block;
      position: absolute;
      /* size of arrow element */
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url('img/a17.png') no-repeat;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 40px;
    }

    .jssora05l {
      background-position: -10px -40px;
    }

    .jssora05r {
      background-position: -70px -40px;
    }

    .jssora05l:hover {
      background-position: -130px -40px;
    }

    .jssora05r:hover {
      background-position: -190px -40px;
    }

    .jssora05l.jssora05ldn {
      background-position: -250px -40px;
    }

    .jssora05r.jssora05rdn {
      background-position: -310px -40px;
    }

    .jssora05l.jssora05lds {
      background-position: -10px -40px;
      opacity: .3;
      pointer-events: none;
    }

    .jssora05r.jssora05rds {
      background-position: -70px -40px;
      opacity: .3;
      pointer-events: none;
    }

    /* jssor slider thumbnail navigator skin 01 css *//*.jssort01 .p            (normal).jssort01 .p:hover      (normal mouseover).jssort01 .p.pav        (active).jssort01 .p.pdn        (mousedown)*/
    .jssort01 .p {
      position: absolute;
      top: 0;
      left: 0;
      width: 72px;
      height: 72px;
    }

    .jssort01 .t {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    .jssort01 .w {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }

    .jssort01 .c {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 68px;
      height: 68px;
      border: #000 2px solid;
      box-sizing: content-box;
      background: url('img/t01.png') -800px -800px no-repeat;
      _background: none;
    }

    .jssort01 .pav .c {
      top: 2px;
      _top: 0px;
      left: 2px;
      _left: 0px;
      width: 68px;
      height: 68px;
      border: #000 0px solid;
      _border: #fff 2px solid;
      background-position: 50% 50%;
    }

    .jssort01 .p:hover .c {
      top: 0px;
      left: 0px;
      width: 70px;
      height: 70px;
      border: #fff 1px solid;
      background-position: 50% 50%;
    }

    .jssort01 .p.pdn .c {
      background-position: 50% 50%;
      width: 68px;
      height: 68px;
      border: #000 2px solid;
    }

    * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c { /* ie quirks mode adjust */
      width /**/: 72px;
      height /**/: 72px;
    }

    .imgtext-wrapper {
      display: table;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .imgtext {
      display: table-cell;
      vertical-align: bottom;
      text-align: center;
      padding-bottom: 10px;
    }

    .imgtext > div {
      color: white;
      font-size: 12px;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
    }
  </style>


</head>
<body>

<iframe id="content-data" class="content-data" src="{{outline.0.url}}">

</iframe>

<div class="outline">
  <ul id="menu">
    {{#each outline}}
    <li data-src="{{this.url}}" data-page="{{this.page}}" onclick="activate(this)"
        class="{{#ifCond this.active '==' false}}disabled{{/ifCond}}">
      <div class="outline-menu-title {{#ifCond this.level '==' 0}}root{{/ifCond}}">{{this.title}}</div>
      {{#if this.icon}}
      <div class="outline-menu-icon">
        <img data-id="{{this.id}}" class="outline-menu-icon" src="{{this.icon}}" onclick="showGallery(this)">
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>

{{#each outline}}
{{#if this.gallery}}
<div id="gallery-{{this.id}}" class="gallery">
  <div class="gallery-header">
    <span class="gallery-header-close" onclick="closeGallery()">Закрыть</span>
  </div>

  <div id="jssor_1-{{this.id}}" class="slider-control"
       style="position: relative; margin: 0 auto; top: 20px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
      <div
        style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
      <div
        style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides"
         style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
      {{#each gallery}}
      <div data-p="144.50">
        <img data-u="image" src2="{{this.src}}"/>
        {{#ifCond this.title.length '>' 0}}
        <div class="imgtext-wrapper">
          <div class="imgtext">
            <div>
              <span data-u="any">{{{this.title}}}</span>
            </div>
          </div>
        </div>
        {{/ifCond}}
        <img data-u="thumb" src2="{{this.src}}"/>
      </div>
      {{/each}}
    </div>
    <!-- Thumbnail Navigator -->
    <div data-u="thumbnavigator" class="jssort01"
         style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
      <!-- Thumbnail Item Skin Begin -->
      <div data-u="slides" style="cursor: default;">
        <div data-u="prototype" class="p">
          <div class="w">
            <div data-u="thumbnailtemplate" class="t"></div>
          </div>
          <div class="c"></div>
        </div>
      </div>
      <!-- Thumbnail Item Skin End -->
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
    <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
  </div>


</div>
{{/if}}
{{/each}}

<script type="text/javascript">

  var sliders = document.getElementsByClassName('slider-control');
  var sliderInstances = [];
  var slidersMap = {};


  function InitSlider(id) {
    if (slidersMap[id]) {
      return;
    }
    var slider = document.getElementById(id);
    if (!slider) {
      return;
    }
    var jssor_1_options = {
      $AutoPlay: false,
      $SlideshowOptions: {
        $Class: $JssorSlideshowRunner$,
        $Transitions: [],
        $TransitionsOrder: 1
      },
      $ArrowNavigatorOptions: {
        $Class: $JssorArrowNavigator$
      },
      $ThumbnailNavigatorOptions: {
        $Class: $JssorThumbnailNavigator$,
        $Cols: 10,
        $SpacingX: 8,
        $SpacingY: 8,
        $Align: 360
      },
      $FillMode: 1,
      $LazyLoading: 1
    };

    try {
      var jssor_1_slider = new $JssorSlider$(id, jssor_1_options);
      sliderInstances.push(jssor_1_slider);
      slidersMap[id] = jssor_1_slider;
      ScaleSliders();
    } catch (e) {
    }
  }


  function ScaleSliders() {
    for (var i = 0; i < sliderInstances.length; i++) {
      var slider = sliderInstances[i];
      var refSize = slider.$Elmt.parentNode.clientWidth;
      if (refSize) {
        refSize = Math.min(refSize, 1024);
        slider.$ScaleWidth(refSize);
      }
      else {
        // window.setTimeout(ScaleSliders, 300);
      }
    }
  }

  if (sliders) {

    $Jssor$.$AddEvent(window, "load", ScaleSliders);
    $Jssor$.$AddEvent(window, "resize", ScaleSliders);
    $Jssor$.$AddEvent(window, "orientationchange", ScaleSliders);

  }
</script>

<script>
  var menu = document.getElementById('menu');
  var dataFrame = document.getElementById('content-data');

  function activate(elem, doNotChangeHash, scrollIntoView) {
    dataFrame.src = elem.getAttribute('data-src');
    if (!doNotChangeHash) {
      updatePage(elem.getAttribute('data-page'));
    }

    var children = menu.childNodes;
    for (var c in children) {
      var node = children[c];
      if (!node.classList)
        continue;
      if (node === elem)
        node.classList.add('active');
      else
        node.classList.remove('active');
    }
    if (scrollIntoView) {
      elem.scrollIntoView();
    }
  }

  function showGallery(elem) {
    var id = 'gallery-' + elem.getAttribute('data-id');
    var gallery = document.getElementById(id);
    if (gallery) {
      var sliders = gallery.getElementsByClassName('slider-control');
      if (sliders && sliders[0]) {
        InitSlider(sliders[0].getAttribute('id'));
      }
      gallery.classList.add('active');
    }
  }

  function closeGallery() {
    var galleries = document.getElementsByClassName('gallery');
    for (var i = 0; i < galleries.length; i++) {
      var g = galleries[i];
      g.classList.remove('active');
    }
  }

  function updatePage(page) {
    location.hash = '#prosvpage=' + page;
    if (window.parent && window.parent.updateButtonPageNumber) {
      window.parent.updateButtonPageNumber(page);
    }
  }

  function goToPage(page, scrollIntoView) {
    var menuItems = document.getElementsByTagName('li');
    if (!menuItems)
      return;
    var minDiff = Number.MAX_SAFE_INTEGER;
    var minDiffElem = menuItems[0];
    for (var i = 0; i < menuItems.length; i++) {
      var mi = menuItems[i];
      var pn = parseInt(mi.getAttribute('data-page'));
      if (pn && pn === page) {
        return activate(mi, false, scrollIntoView);
      }
      if (page > pn) {
        if (Math.abs(page - pn) < minDiff) {
          minDiffElem = mi;
          minDiff = Math.abs(page - pn);
        }
      }
    }
    if (minDiffElem) {
      activate(minDiffElem, false, scrollIntoView);
    }
  }

  var loc = location;

  function goToPagePdf(page) {
    if (window.parent && window.parent !== window && window.parent.goToPagePdf) {
      window.parent.goToPagePdf(page);
    } else {
      setTimeout(function () {
        location.href = "./index.prosvcontent.pdf#page=" + page
      }, 0);
    }
  }

  function getHashPage() {
    var page = 0;
    var hash = window.location.hash;
    var hashParams = /(page|prosvpage)=(\d+)/.exec(hash);
    if (hashParams && hashParams.length >= 2) {
      var pageNum = parseInt(hashParams[2]);
      if (pageNum)
        page = pageNum;
    }
    return page;
  }

  var page = getHashPage();
  goToPage(page, true);

  window.addEventListener("hashchange", function () {
    console.log('hashchange');
    goToPage(getHashPage(), true);
  }, false);

</script>
</body>
</html>
